.table thead.thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
.table thead th.sortable{
    cursor: pointer;
}

img.icon{
    width:100px;
    height:100px;
}